.now-playing{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
}
.player{
  padding-top: 30px;
  margin: 30px 30px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
}
.hov{
  transition: transform .2s;
}
.hov:hover{
  transform: scale(1.2);
}

.but{
  position: relative;
  top: 20px;
}
.col{
    display: inline-block;
    width: 30%;
}

.track-name{
  font-size: 250%;
  line-height: 1.4;
  font-family: 'Bahnschrift', sans-serif;
}
.track-artist{
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
}
.slider{
  margin: 4px 10px 0;
}
.stats{
  position: relative;
  bottom: 3px;
}
.track-art{
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 100%;
}
.time{
  display: inline-block;
}
.seek_slider{
  width: 50%;
}
.volume_slider{
  width: 20%;
}
